<article>
    <form action="/api/sessions/login" method="post">
        <header><h1>Inicio de session</h1></header>
        <input type="text" name="email" placeholder="correo" required>
        <input type="password" name="password" placeholder="contraseña" required>
        <footer>
            <input type="submit" value="entrar">
        </footer>
        <a href="/views/register">Quiero registrarme</a>
    </form>
</article>